In [1]:
import json
import json
import requests
import pandas as pd

In [5]:
# JSON dosyalarının dosya adlarına göre ülke ve şehir colunmlarını ekliyorum.
import os
import json
import pandas as pd

folder_path = 'weather datas turkey/'

# Boş DataFrame'ler oluşturuyoruz
dftemp_hourly_all = pd.DataFrame()
dfastronomy_all = pd.DataFrame()
dftemp_all = pd.DataFrame()

# Klasördeki dosya adlarını döngüyle geziyoruz
for filename in os.listdir(folder_path):
    if filename.startswith('weather_data_') and filename.endswith('.json'):
        country, city = filename.split('_')[2], filename.split('_')[3]
        
        with open(os.path.join(folder_path, filename), 'r') as json_file:
            data = json.load(json_file)
            weather_data = data['data']['weather']
            
            dftemp = pd.json_normalize(weather_data).drop(columns=["hourly","astronomy"])
            dftemp["City"] = city
            dftemp["Country"] = country
            
            dfastronomy = pd.json_normalize(weather_data, record_path='astronomy', meta=['date'])
            dfastronomy["City"] = city
            dfastronomy["Country"] = country
            
            dtemp_hourly = pd.json_normalize(weather_data, record_path='hourly', meta=['date'])
            dtemp_hourly["City"] = city
            dtemp_hourly["Country"] = country
            
            # Oluşturduğumuz DataFrame'leri birleştirmiyoruz, ayrı ayrı saklıyoruz
            dftemp_hourly_all = pd.concat([dftemp_hourly_all, dtemp_hourly], ignore_index=True)
            dfastronomy_all = pd.concat([dfastronomy_all, dfastronomy], ignore_index=True)
            dftemp_all = pd.concat([dftemp_all, dftemp], ignore_index=True)

In [6]:
dftemp_hourly_all

,time,tempC,tempF,windspeedMiles,windspeedKmph,winddirDegree,winddir16Point,weatherCode,weatherIconUrl,weatherDesc,...,WindChillC,WindChillF,WindGustMiles,WindGustKmph,FeelsLikeC,FeelsLikeF,uvIndex,date,City,Country
0,0,-1,30,8,13,355,N,113,[{'value': 'https://cdn.worldweatheronline.com...,[{'value': 'Clear'}],...,-6,22,15,24,-6,22,1,2009-01-01,Adana.json,Türkiye
1,300,-1,29,8,12,348,NNW,113,[{'value': 'https://cdn.worldweatheronline.com...,[{'value': 'Clear'}],...,-6,22,13,21,-6,22,1,2009-01-01,Adana.json,Türkiye
2,600,0,32,9,14,5,N,113,[{'value': 'https://cdn.worldweatheronline.com...,[{'value': 'Sunny'}],...,-4,24,14,23,-4,24,2,2009-01-01,Adana.json,Türkiye
3,900,2,35,11,18,354,N,113,[{'value': 'https://cdn.worldweatheronline.com...,[{'value': 'Sunny'}],...,-3,27,13,20,-3,27,2,2009-01-01,Adana.json,Türkiye
4,1200,5,42,4,6,359,N,113,[{'value': 'https://cdn.worldweatheronline.com...,[{'value': 'Sunny'}],...,4,39,9,15,4,39,3,2009-01-01,Adana.json,Türkiye
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22675,900,10,50,12,19,157,SSE,113,[{'value': 'https://cdn.worldweatheronline.com...,[{'value': 'Sunny'}],...,8,46,19,30,8,46,4,2009-02-04,Zonguldak.json,Türkiye
22676,1200,17,63,11,18,167,SSE,116,[{'value': 'https://cdn.worldweatheronline.com...,[{'value': 'Partly cloudy'}],...,17,63,20,32,17,63,5,2009-02-04,Zonguldak.json,Türkiye
22677,1500,16,61,11,17,157,SSE,116,[{'value': 'https://cdn.worldweatheronline.com...,[{'value': 'Partly cloudy'}],...,16,61,18,30,16,61,5,2009-02-04,Zonguldak.json,Türkiye
22678,1800,14,57,12,19,168,SSE,113,[{'value': 'https://cdn.worldweatheronline.com...,[{'value': 'Clear'}],...,12,54,19,30,12,54,1,2009-02-04,Zonguldak.json,Türkiye
22679,2100,11,51,12,20,169,S,113,[{'value': 'https://cdn.worldweatheronline.com...,[{'value': 'Clear'}],...,8,46,22,36,8,46,1,2009-02-04,Zonguldak.json,Türkiye

In [18]:
dftemp_all.loc[dftemp_all["City"]=="Istanbul.json"][30:]

,date,maxtempC,maxtempF,mintempC,mintempF,avgtempC,avgtempF,totalSnow_cm,sunHour,uvIndex,City,Country
1395,2009-01-31,5,41,4,40,5,40,0.0,3.8,1,Istanbul.json,Türkiye
1396,2009-02-01,7,45,4,40,5,41,0.0,8.7,2,Istanbul.json,Türkiye
1397,2009-02-02,9,49,4,39,6,44,0.0,8.7,2,Istanbul.json,Türkiye
1398,2009-02-03,12,54,6,42,9,48,0.0,5.4,3,Istanbul.json,Türkiye
1399,2009-02-04,15,58,9,48,11,52,0.0,8.7,4,Istanbul.json,Türkiye

In [20]:
# JSON dosyasını oku
with open('weather datas turkey/weather_data_Türkiye_Istanbul.json', 'r') as json_file:
    data = json.load(json_file)

# DataFrame oluştur
weather_data = data['data']['weather']
dftemp = pd.json_normalize(weather_data).drop(columns=["hourly","astronomy"])  # JSON içindeki verileri DataFrame'e dönüştür
dfastronomy = pd.json_normalize(weather_data, record_path='astronomy', meta=['date'])
dtemp_hourly = pd.json_normalize(weather_data, record_path='hourly', meta=['date'])
dftemp["City"] = "Istanbul"
dfastronomy["City"] = "Istanbul"
dtemp_hourly["City"] = "Istanbul"

In [21]:
dftemp

,date,maxtempC,maxtempF,mintempC,mintempF,avgtempC,avgtempF,totalSnow_cm,sunHour,uvIndex,City
0,2009-01-01,5,41,2,36,4,39,0.0,8.7,1,Istanbul
1,2009-01-02,6,43,3,37,4,40,0.0,3.4,2,Istanbul
2,2009-01-03,5,41,3,38,4,39,0.0,3.4,1,Istanbul
3,2009-01-04,6,43,5,40,5,41,0.0,3.4,2,Istanbul
4,2009-01-05,6,43,4,40,5,41,0.0,3.5,1,Istanbul
5,2009-01-06,6,42,4,40,5,41,0.0,3.5,2,Istanbul
6,2009-01-07,7,44,3,37,5,42,0.0,5.2,2,Istanbul
7,2009-01-08,8,46,3,37,5,41,0.0,8.7,3,Istanbul
8,2009-01-09,4,39,2,35,3,37,0.0,8.7,1,Istanbul
9,2009-01-10,6,43,2,36,4,38,0.0,8.7,2,Istanbul
10,2009-01-11,4,40,2,35,3,38,0.0,3.5,1,Istanbul
11,2009-01-12,6,44,3,37,4,39,0.0,8.7,1,Istanbul
12,2009-01-13,8,47,2,35,5,41,0.0,8.7,2,Istanbul
13,2009-01-14,8,46,3,38,6,43,0.0,7.0,3,Istanbul
14,2009-01-15,14,57,7,44,10,50,0.0,8.7,4,Istanbul
15,2009-01-16,12,54,7,44,9,48,0.0,5.3,3,Istanbul
16,2009-01-17,6,43,3,37,4,39,0.0,3.7,1,Istanbul
17,2009-01-18,7,45,2,35,4,39,0.0,8.7,2,Istanbul
18,2009-01-19,10,49,4,40,7,44,0.0,5.4,3,Istanbul
19,2009-01-20,14,57,7,44,9,49,0.0,8.7,3,Istanbul
20,2009-01-21,14,58,8,46,10,51,0.0,8.7,4,Istanbul
21,2009-01-22,16,61,7,45,11,52,0.0,8.7,4,Istanbul
22,2009-01-23,13,55,9,47,10,50,0.0,7.0,4,Istanbul
23,2009-01-24,15,58,9,48,10,51,0.0,5.4,3,Istanbul
24,2009-01-25,14,57,9,48,11,53,0.0,5.4,4,Istanbul
25,2009-01-26,14,57,9,48,11,52,0.0,7.0,3,Istanbul
26,2009-01-27,16,60,9,48,12,53,0.0,8.7,3,Istanbul
27,2009-01-28,12,54,9,49,10,51,0.0,7.0,4,Istanbul
28,2009-01-29,11,52,7,44,9,47,0.0,5.4,3,Istanbul
29,2009-01-30,7,45,5,40,6,42,0.0,3.8,2,Istanbul
30,2009-01-31,5,41,4,40,5,40,0.0,3.8,1,Istanbul
31,2009-02-01,7,45,4,40,5,41,0.0,8.7,2,Istanbul
32,2009-02-02,9,49,4,39,6,44,0.0,8.7,2,Istanbul
33,2009-02-03,12,54,6,42,9,48,0.0,5.4,3,Istanbul
34,2009-02-04,15,58,9,48,11,52,0.0,8.7,4,Istanbul