In [1]:
pip install meteostat

Collecting meteostat
  Downloading meteostat-1.6.5-py3-none-any.whl (31 kB)
Requirement already satisfied: pandas>=1.1 in c:\users\emrec\appdata\local\programs\python\python39\lib\site-packages (from meteostat) (1.5.1)
Requirement already satisfied: pytz in c:\users\emrec\appdata\local\programs\python\python39\lib\site-packages (from meteostat) (2022.5)
Requirement already satisfied: numpy in c:\users\emrec\appdata\local\programs\python\python39\lib\site-packages (from meteostat) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\emrec\appdata\local\programs\python\python39\lib\site-packages (from pandas>=1.1->meteostat) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\emrec\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.1->meteostat) (1.16.0)
Installing collected packages: meteostat
Successfully installed meteostat-1.6.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: C:\Users\emrec\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip

In [38]:
pip install geopy

Collecting geopy
  Downloading geopy-2.3.0-py3-none-any.whl (119 kB)
     ------------------------------------ 119.8/119.8 kB 876.6 kB/s eta 0:00:00
Collecting geographiclib<3,>=1.52
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
     ---------------------------------------- 40.3/40.3 kB 2.0 MB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.3.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: C:\Users\emrec\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip

In [79]:
#önce koordinatları çekiyorum


from geopy.geocoders import Nominatim

# İl isimleri
il_names = ["Adana", "Adıyaman", "Afyonkarahisar", "Ağrı", "Aksaray", "Amasya", "Ankara", "Antalya", "Ardahan", "Artvin", "Aydın", "Balıkesir", "Bartın", "Batman", "Bayburt", "Bilecik", "Bingöl", "Bitlis", "Bolu", "Burdur", "Bursa", "Çanakkale", "Çankırı", "Çorum", "Denizli", "Diyarbakır", "Düzce", "Edirne", "Elazığ", "Erzincan", "Erzurum", "Eskişehir", "Gaziantep", "Giresun", "Gümüşhane", "Hakkâri", "Hatay", "Iğdır", "Isparta", "İstanbul", "İzmir", "Kahramanmaraş", "Karabük", "Karaman", "Kars", "Kastamonu", "Kayseri", "Kırıkkale", "Kırklareli", "Kırşehir", "Kilis", "Kocaeli", "Konya", "Kütahya", "Malatya", "Manisa", "Mardin", "Mersin", "Muğla", "Muş", "Nevşehir", "Niğde", "Ordu", "Osmaniye", "Rize", "Sakarya", "Samsun", "Siirt", "Sinop", "Sivas", "Şanlıurfa", "Şırnak", "Tekirdağ", "Tokat", "Trabzon", "Tunceli", "Uşak", "Van", "Yalova", "Yozgat", "Zonguldak"]

geolocator = Nominatim(user_agent="location-finder")

# İl isimleri ve koordinatları
il_coordinates = {}

for il in il_names:
    location = geolocator.geocode(il + ", Türkiye")
    if location:
        il_coordinates[il] = (location.latitude, location.longitude)
    else:
        il_coordinates[il] = None

print(il_coordinates)

{'Adana': (37.1438001, 35.4984094), 'Adıyaman': (37.78936, 38.3141101), 'Afyonkarahisar': (38.6852729, 30.6427411), 'Ağrı': (39.7779175, 43.168437098021585), 'Aksaray': (38.4326291, 33.8976963), 'Amasya': (40.6569451, 35.7727169), 'Ankara': (39.7160439, 32.7059948), 'Antalya': (36.8872942, 30.7074549), 'Ardahan': (41.0372501, 42.7462189), 'Artvin': (41.160506, 41.8398627), 'Aydın': (37.7405798, 28.0676404), 'Balıkesir': (39.5400798, 28.0228793), 'Bartın': (41.4947715, 32.4354255), 'Batman': (37.7874104, 41.2573924), 'Bayburt': (40.2023027, 40.2121599), 'Bilecik': (40.1435101, 29.9752911), 'Bingöl': (39.073803, 40.7296181), 'Bitlis': (38.4950867, 42.1678372), 'Bolu': (40.6212099, 31.6460259), 'Burdur': (37.5183407, 30.1691254), 'Bursa': (39.9895878, 28.8944669), 'Çanakkale': (40.0549886, 26.9278292), 'Çankırı': (40.6667691, 33.4526069), 'Çorum': (40.5698389, 34.7269292), 'Denizli': (37.8275892, 29.2389539), 'Diyarbakır': (37.9162222, 40.2363542), 'Düzce': (40.8774545, 31.2009618), 'Edirne': (41.6759327, 26.5587225), 'Elazığ': (38.5824771, 39.396179), 'Erzincan': (39.6073429, 39.2013209), 'Erzurum': (39.7581897, 41.4032241), 'Eskişehir': (39.6821156, 31.0723476), 'Gaziantep': (36.9666307, 37.4074178), 'Giresun': (40.6531617, 38.5172032), 'Gümüşhane': (40.2533219, 39.384968), 'Hakkâri': (37.495358, 44.1054777), 'Hatay': (36.3451332, 36.0748022), 'Iğdır': (39.8945292, 43.9427459), 'Isparta': (37.9465412, 30.9602093), 'İstanbul': (41.0766019, 29.052495), 'İzmir': (38.23166, 27.02997), 'Kahramanmaraş': (37.7830345, 36.830655), 'Karabük': (41.1110349, 32.6193901), 'Karaman': (37.1796848, 33.3383665), 'Kars': (40.4558435, 42.9979531), 'Kastamonu': (41.3680217, 33.7619177), 'Kayseri': (38.6582232, 35.5546374), 'Kırıkkale': (39.8860105, 33.8278992), 'Kırklareli': (41.7078046, 27.6051334), 'Kırşehir': (39.1461142, 34.1605587), 'Kilis': (36.7797231, 37.1416892), 'Kocaeli': (40.8216536, 29.9507184), 'Konya': (38.0211951, 32.5224943), 'Kütahya': (39.2522508, 29.4937732), 'Malatya': (38.3488506, 38.3189466), 'Manisa': (38.8574402, 28.0565711), 'Mardin': (37.3611355, 40.8959403), 'Mersin': (36.7978381, 34.6298391), 'Muğla': (37.1642053, 28.2624288), 'Muş': (38.9740786, 41.9590433), 'Nevşehir': (38.7235072, 34.7194168), 'Niğde': (38.0664691, 34.7051438), 'Ordu': (40.8292569, 37.4082764), 'Osmaniye': (37.2517882, 36.2993502), 'Rize': (40.9347897, 40.827136), 'Sakarya': (40.7731834, 30.481606), 'Samsun': (41.2303557, 35.9683338), 'Siirt': (37.8646916, 42.0510294), 'Sinop': (41.6476377, 34.9560137), 'Sivas': (39.4191717, 37.1012388), 'Şanlıurfa': (37.2595198, 39.0408174), 'Şırnak': (37.548722, 42.36187880016271), 'Tekirdağ': (40.9913019, 27.3676293), 'Tokat': (40.38658275, 36.656546010111526), 'Trabzon': (41.0054605, 39.7301463), 'Tunceli': (39.2197553, 39.4139674), 'Uşak': (38.609666, 29.3306506), 'Van': (38.3249599, 43.6589825), 'Yalova': (40.5928976, 29.077611679403788), 'Yozgat': (39.7152422, 35.170998), 'Zonguldak': (41.250324, 31.8389738)}

In [80]:
#koordinatlara göre türkiye hava durumunu çekiyorum

# Import Meteostat library and dependencies
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily, Hourly, Monthly, Normals
import pandas as pd

türkiye_daily = []
türkiye_monthly = []

for city, coordinates in il_coordinates.items():
    # Set time period
    start = datetime(1929, 1, 1)
    end = datetime(2023, 8, 25)

    #set location
    location = Point(coordinates[0], coordinates[1])

    # Get daily data 
    data_daily = Daily(location, start, end)
    data_daily = data_daily.fetch()
    data_daily["city"] = city
    data_daily.reset_index(inplace=True)

    # Get monthly data 
    data_monthly = Monthly(location, start, end)
    data_monthly = data_monthly.fetch()
    data_monthly["city"] = city
    data_monthly.reset_index(inplace=True)
    
    türkiye_daily.append(data_daily)
    türkiye_monthly.append(data_monthly)

# Concatenate all dataframes into a single dataframe
türkiye_daily = pd.concat(türkiye_daily, ignore_index=False)
türkiye_monthly = pd.concat(türkiye_monthly, ignore_index=False)
türkiye_daily["country"] = "Türkiye"
türkiye_monthly["country"] = "Türkiye"

In [81]:
# Türkiye ile kıyaslamak adına dünya ülkelerinin önemli şehirlerinin ve başkentlerinin datasını alacağım.

european_cities = {
    "Albania": ["Tirana", "Durrës"],
    "Andorra": ["Andorra la Vella"],
    "Austria": ["Vienna", "Salzburg", "Innsbruck"],
    "Belgium": ["Brussels", "Antwerp", "Ghent"],
    "Bulgaria": ["Sofia", "Plovdiv", "Varna"],
    "Croatia": ["Zagreb", "Split", "Dubrovnik"],
    "Cyprus": ["Nicosia", "Limassol"],
    "Czech Republic": ["Prague", "Brno"],
    "Denmark": ["Copenhagen", "Aarhus"],
    "Estonia": ["Tallinn"],
    "Finland": ["Helsinki", "Tampere"],
    "France": ["Paris", "Marseille", "Lyon"],
    "Germany": ["Berlin", "Munich", "Hamburg"],
    "Greece": ["Athens", "Thessaloniki"],
    "Hungary": ["Budapest", "Debrecen"],
    "Iceland": ["Reykjavik"],
    "Ireland": ["Dublin", "Cork"],
    "Italy": ["Rome", "Milan", "Venice"],
    "Latvia": ["Riga"],
    "Lithuania": ["Vilnius"],
    "Luxembourg": ["Luxembourg City"],
    "Malta": ["Valletta"],
    "Netherlands": ["Amsterdam", "Rotterdam", "Utrecht"],
    "Norway": ["Oslo", "Bergen"],
    "Poland": ["Warsaw", "Krakow", "Gdansk"],
    "Portugal": ["Lisbon", "Porto"],
    "Romania": ["Bucharest", "Cluj-Napoca"],
    "Slovakia": ["Bratislava"],
    "Slovenia": ["Ljubljana"],
    "Spain": ["Madrid", "Barcelona", "Seville"],
    "Sweden": ["Stockholm", "Gothenburg"],
    "Switzerland": ["Bern", "Zurich", "Geneva"],
    "United Kingdom": ["London", "Edinburgh", "Manchester"],
}


geolocator = Nominatim(user_agent="location-finder")

city_coordinates = {}

for country, cities in european_cities.items():
    for city in cities:
        location = geolocator.geocode(city + ", " + country)
        if location:
            city_coordinates[city] = {
                "latitude": location.latitude,
                "longitude": location.longitude,
                "country": country
            }
        else:
            city_coordinates[city] = None

print(city_coordinates)

european_cities_daily = []
european_cities_monthly = []

for city, data in city_coordinates.items():
    # Extract coordinates and country
    latitude = data["latitude"]
    longitude = data["longitude"]
    country = data["country"]
    
    # Set location
    location = Point(latitude, longitude)

    # Set time period
    start = datetime(1929, 1, 1)
    end = datetime(2023, 8, 25)

    # Get daily data 
    data_daily = Daily(location, start, end)
    data_daily = data_daily.fetch()
    data_daily["city"] = city
    data_daily["country"] = country
    data_daily.reset_index(inplace=True)

    # Get monthly data 
    data_monthly = Monthly(location, start, end)
    data_monthly = data_monthly.fetch()
    data_monthly["city"] = city
    data_monthly["country"] = country
    data_monthly.reset_index(inplace=True)
    
    european_cities_daily.append(data_daily)
    european_cities_monthly.append(data_monthly)

# Concatenate all dataframes into a single dataframe
european_cities_daily = pd.concat(european_cities_daily, ignore_index=False)
european_cities_monthly = pd.concat(european_cities_monthly, ignore_index=False)

print("__________")
european_cities_monthly

{'Tirana': {'latitude': 41.3281482, 'longitude': 19.8184435, 'country': 'Albania'}, 'Durrës': {'latitude': 41.33105689999999, 'longitude': 19.456792561190838, 'country': 'Albania'}, 'Andorra la Vella': {'latitude': 42.5069391, 'longitude': 1.5212467, 'country': 'Andorra'}, 'Vienna': {'latitude': 48.2083537, 'longitude': 16.3725042, 'country': 'Austria'}, 'Salzburg': {'latitude': 47.7981346, 'longitude': 13.0464806, 'country': 'Austria'}, 'Innsbruck': {'latitude': 47.2654296, 'longitude': 11.3927685, 'country': 'Austria'}, 'Brussels': {'latitude': 50.8465573, 'longitude': 4.351697, 'country': 'Belgium'}, 'Antwerp': {'latitude': 51.2211097, 'longitude': 4.3997081, 'country': 'Belgium'}, 'Ghent': {'latitude': 51.0538286, 'longitude': 3.7250121, 'country': 'Belgium'}, 'Sofia': {'latitude': 42.6977028, 'longitude': 23.3217359, 'country': 'Bulgaria'}, 'Plovdiv': {'latitude': 42.1418541, 'longitude': 24.7499297, 'country': 'Bulgaria'}, 'Varna': {'latitude': 43.2073873, 'longitude': 27.9166653, 'country': 'Bulgaria'}, 'Zagreb': {'latitude': 45.84264135, 'longitude': 15.962231476593626, 'country': 'Croatia'}, 'Split': {'latitude': 43.5116383, 'longitude': 16.4399659, 'country': 'Croatia'}, 'Dubrovnik': {'latitude': 42.6502473, 'longitude': 18.0924947, 'country': 'Croatia'}, 'Nicosia': {'latitude': 35.1748976, 'longitude': 33.3638568, 'country': 'Cyprus'}, 'Limassol': {'latitude': 34.6852901, 'longitude': 33.0332657, 'country': 'Cyprus'}, 'Prague': {'latitude': 50.0596288, 'longitude': 14.446459273258009, 'country': 'Czech Republic'}, 'Brno': {'latitude': 49.1922443, 'longitude': 16.6113382, 'country': 'Czech Republic'}, 'Copenhagen': {'latitude': 55.6867243, 'longitude': 12.5700724, 'country': 'Denmark'}, 'Aarhus': {'latitude': 56.1496278, 'longitude': 10.2134046, 'country': 'Denmark'}, 'Tallinn': {'latitude': 59.4372155, 'longitude': 24.7453688, 'country': 'Estonia'}, 'Helsinki': {'latitude': 60.1674881, 'longitude': 24.9427473, 'country': 'Finland'}, 'Tampere': {'latitude': 61.4980214, 'longitude': 23.7603118, 'country': 'Finland'}, 'Paris': {'latitude': 48.8588897, 'longitude': 2.3200410217200766, 'country': 'France'}, 'Marseille': {'latitude': 43.2961743, 'longitude': 5.3699525, 'country': 'France'}, 'Lyon': {'latitude': 45.7578137, 'longitude': 4.8320114, 'country': 'France'}, 'Berlin': {'latitude': 52.5170365, 'longitude': 13.3888599, 'country': 'Germany'}, 'Munich': {'latitude': 48.1371079, 'longitude': 11.5753822, 'country': 'Germany'}, 'Hamburg': {'latitude': 53.550341, 'longitude': 10.000654, 'country': 'Germany'}, 'Athens': {'latitude': 37.9755648, 'longitude': 23.7348324, 'country': 'Greece'}, 'Thessaloniki': {'latitude': 40.6403167, 'longitude': 22.9352716, 'country': 'Greece'}, 'Budapest': {'latitude': 47.48138955, 'longitude': 19.14609412691246, 'country': 'Hungary'}, 'Debrecen': {'latitude': 47.531399, 'longitude': 21.6259782, 'country': 'Hungary'}, 'Reykjavik': {'latitude': 64.145981, 'longitude': -21.9422367, 'country': 'Iceland'}, 'Dublin': {'latitude': 53.3493795, 'longitude': -6.2605593, 'country': 'Ireland'}, 'Cork': {'latitude': 51.897077, 'longitude': -8.4654674, 'country': 'Ireland'}, 'Rome': {'latitude': 41.8933203, 'longitude': 12.4829321, 'country': 'Italy'}, 'Milan': {'latitude': 45.4641943, 'longitude': 9.1896346, 'country': 'Italy'}, 'Venice': {'latitude': 45.4371908, 'longitude': 12.3345898, 'country': 'Italy'}, 'Riga': {'latitude': 56.9493977, 'longitude': 24.1051846, 'country': 'Latvia'}, 'Vilnius': {'latitude': 54.6870458, 'longitude': 25.2829111, 'country': 'Lithuania'}, 'Luxembourg City': {'latitude': 49.6112768, 'longitude': 6.129799, 'country': 'Luxembourg'}, 'Valletta': {'latitude': 35.8989818, 'longitude': 14.5136759, 'country': 'Malta'}, 'Amsterdam': {'latitude': 52.3730796, 'longitude': 4.8924534, 'country': 'Netherlands'}, 'Rotterdam': {'latitude': 51.9244424, 'longitude': 4.47775, 'country': 'Netherlands'}, 'Utrecht': {'latitude': 52.080985600000005, 'longitude': 5.12768396945229, 'country': 'Netherlands'}, 'Oslo': {'latitude': 59.9133301, 'longitude': 10.7389701, 'country': 'Norway'}, 'Bergen': {'latitude': 60.3943055, 'longitude': 5.3259192, 'country': 'Norway'}, 'Warsaw': {'latitude': 52.2337172, 'longitude': 21.071432235636493, 'country': 'Poland'}, 'Krakow': {'latitude': 50.0469432, 'longitude': 19.997153435836697, 'country': 'Poland'}, 'Gdansk': {'latitude': 54.3482907, 'longitude': 18.6540233, 'country': 'Poland'}, 'Lisbon': {'latitude': 38.7440523, 'longitude': -9.151827931741947, 'country': 'Portugal'}, 'Porto': {'latitude': 41.1494512, 'longitude': -8.6107884, 'country': 'Portugal'}, 'Bucharest': {'latitude': 44.4361414, 'longitude': 26.1027202, 'country': 'Romania'}, 'Cluj-Napoca': {'latitude': 46.769379, 'longitude': 23.5899542, 'country': 'Romania'}, 'Bratislava': {'latitude': 48.1516988, 'longitude': 17.1093063, 'country': 'Slovakia'}, 'Ljubljana': {'latitude': 46.0500268, 'longitude': 14.5069289, 'country': 'Slovenia'}, 'Madrid': {'latitude': 40.4167047, 'longitude': -3.7035825, 'country': 'Spain'}, 'Barcelona': {'latitude': 41.3828939, 'longitude': 2.1774322, 'country': 'Spain'}, 'Seville': {'latitude': 37.3886303, 'longitude': -5.9953403, 'country': 'Spain'}, 'Stockholm': {'latitude': 59.3251172, 'longitude': 18.0710935, 'country': 'Sweden'}, 'Gothenburg': {'latitude': 57.7072326, 'longitude': 11.9670171, 'country': 'Sweden'}, 'Bern': {'latitude': 46.9484742, 'longitude': 7.4521749, 'country': 'Switzerland'}, 'Zurich': {'latitude': 47.3744489, 'longitude': 8.5410422, 'country': 'Switzerland'}, 'Geneva': {'latitude': 46.2017559, 'longitude': 6.1466014, 'country': 'Switzerland'}, 'London': {'latitude': 51.4893335, 'longitude': -0.14405508452768728, 'country': 'United Kingdom'}, 'Edinburgh': {'latitude': 55.9533456, 'longitude': -3.1883749, 'country': 'United Kingdom'}, 'Manchester': {'latitude': 53.4794892, 'longitude': -2.2451148, 'country': 'United Kingdom'}}
__________

,time,tavg,tmin,tmax,prcp,wspd,pres,tsun,city,country
0,1963-01-01,5.9,NaN,NaN,296.0,NaN,1015.0,NaN,Tirana,Albania
1,1963-02-01,7.8,NaN,NaN,288.0,NaN,1009.0,NaN,Tirana,Albania
2,1963-03-01,8.4,NaN,NaN,154.0,NaN,1016.0,NaN,Tirana,Albania
3,1963-04-01,13.7,NaN,NaN,64.0,NaN,1013.0,NaN,Tirana,Albania
4,1963-05-01,17.6,NaN,NaN,157.0,NaN,1012.0,NaN,Tirana,Albania
...,...,...,...,...,...,...,...,...,...,...
788,2023-02-01,6.8,4.0,9.6,20.4,12.5,1027.0,NaN,Manchester,United Kingdom
789,2023-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manchester,United Kingdom
790,2023-04-01,8.8,5.0,12.4,72.0,11.0,1015.7,NaN,Manchester,United Kingdom
791,2023-05-01,13.0,8.4,17.0,51.4,9.5,1023.2,NaN,Manchester,United Kingdom
792,2023-06-01,17.4,12.2,22.3,52.8,9.5,1018.2,NaN,Manchester,United Kingdom

In [82]:
# Türkiye ile kıyaslamak adına dünya ülkelerinin önemli şehirlerinin ve başkentlerinin datasını alacağım.

american_cities = {
    "United States": ["Washington, D.C.", "New York City", "Los Angeles", "Chicago", "Houston"],
    "Canada": ["Ottawa", "Toronto", "Vancouver", "Montreal", "Calgary"],
    "Mexico": ["Mexico City", "Guadalajara", "Monterrey", "Puebla", "Tijuana"],
    "Brazil": ["Brasília", "São Paulo", "Rio de Janeiro", "Belo Horizonte", "Salvador"],
    "Argentina": ["Buenos Aires", "Córdoba", "Rosario", "Mendoza", "Tucumán"],
    "Colombia": ["Bogotá", "Medellín", "Cali", "Barranquilla", "Cartagena"],
    "Chile": ["Santiago", "Valparaíso", "Concepción", "La Serena", "Antofagasta"],
    "Peru": ["Lima", "Arequipa", "Trujillo", "Chiclayo", "Piura"],
    "Venezuela": ["Caracas", "Maracaibo", "Valencia", "Barquisimeto", "Maracay"],
    "Jamaica": ["Kingston", "Montego Bay", "Spanish Town", "Portmore", "May Pen"],
    "Dominican Republic": ["Santo Domingo", "Santiago", "Santo Domingo Oeste", "Santo Domingo Este", "San Pedro de Macorís"]
}

geolocator = Nominatim(user_agent="location-finder")

city_coordinates = {}

for country, cities in american_cities.items():
    for city in cities:
        location = geolocator.geocode(city + ", " + country)
        if location:
            city_coordinates[city] = {
                "latitude": location.latitude,
                "longitude": location.longitude,
                "country": country
            }
        else:
            city_coordinates[city] = None

print(city_coordinates)

american_cities_daily = []
american_cities_monthly = []

for city, data in city_coordinates.items():
    # Extract coordinates and country
    latitude = data["latitude"]
    longitude = data["longitude"]
    country = data["country"]
    
    # Set location
    location = Point(latitude, longitude)

    # Set time period
    start = datetime(1929, 1, 1)
    end = datetime(2023, 8, 25)

    # Get daily data 
    data_daily = Daily(location, start, end)
    data_daily = data_daily.fetch()
    data_daily["city"] = city
    data_daily["country"] = country
    data_daily.reset_index(inplace=True)

    # Get monthly data 
    data_monthly = Monthly(location, start, end)
    data_monthly = data_monthly.fetch()
    data_monthly["city"] = city
    data_monthly["country"] = country
    data_monthly.reset_index(inplace=True)
    
    american_cities_daily.append(data_daily)
    american_cities_monthly.append(data_monthly)

# Concatenate all dataframes into a single dataframe
american_cities_daily = pd.concat(american_cities_daily, ignore_index=False)
american_cities_monthly = pd.concat(american_cities_monthly, ignore_index=False)

print("__________")
american_cities_monthly

{'Washington, D.C.': {'latitude': 38.8950368, 'longitude': -77.0365427, 'country': 'United States'}, 'New York City': {'latitude': 40.7127281, 'longitude': -74.0060152, 'country': 'United States'}, 'Los Angeles': {'latitude': 34.0536909, 'longitude': -118.242766, 'country': 'United States'}, 'Chicago': {'latitude': 41.8755616, 'longitude': -87.6244212, 'country': 'United States'}, 'Houston': {'latitude': 29.7589382, 'longitude': -95.3676974, 'country': 'United States'}, 'Ottawa': {'latitude': 45.4208777, 'longitude': -75.6901106, 'country': 'Canada'}, 'Toronto': {'latitude': 43.6534817, 'longitude': -79.3839347, 'country': 'Canada'}, 'Vancouver': {'latitude': 49.2608724, 'longitude': -123.113952, 'country': 'Canada'}, 'Montreal': {'latitude': 45.5031824, 'longitude': -73.5698065, 'country': 'Canada'}, 'Calgary': {'latitude': 51.0456064, 'longitude': -114.057541, 'country': 'Canada'}, 'Mexico City': {'latitude': 19.4326296, 'longitude': -99.1331785, 'country': 'Mexico'}, 'Guadalajara': {'latitude': 20.6720375, 'longitude': -103.338396, 'country': 'Mexico'}, 'Monterrey': {'latitude': 25.6802019, 'longitude': -100.315258, 'country': 'Mexico'}, 'Puebla': {'latitude': 18.833333, 'longitude': -98.0, 'country': 'Mexico'}, 'Tijuana': {'latitude': 32.5317397, 'longitude': -117.019529, 'country': 'Mexico'}, 'Brasília': {'latitude': -10.3333333, 'longitude': -53.2, 'country': 'Brazil'}, 'São Paulo': {'latitude': -1.2043218, 'longitude': -47.1583944, 'country': 'Brazil'}, 'Rio de Janeiro': {'latitude': -22.9110137, 'longitude': -43.2093727, 'country': 'Brazil'}, 'Belo Horizonte': {'latitude': -19.9227318, 'longitude': -43.9450948, 'country': 'Brazil'}, 'Salvador': {'latitude': -12.9822499, 'longitude': -38.4812772, 'country': 'Brazil'}, 'Buenos Aires': {'latitude': -34.6075682, 'longitude': -58.4370894, 'country': 'Argentina'}, 'Córdoba': {'latitude': -31.4166867, 'longitude': -64.1834193, 'country': 'Argentina'}, 'Rosario': {'latitude': -32.9593609, 'longitude': -60.6617024, 'country': 'Argentina'}, 'Mendoza': {'latitude': -34.787093049999996, 'longitude': -68.43818677312292, 'country': 'Argentina'}, 'Tucumán': {'latitude': -26.5643582, 'longitude': -64.882397, 'country': 'Argentina'}, 'Bogotá': {'latitude': 4.6529539, 'longitude': -74.0835643, 'country': 'Colombia'}, 'Medellín': {'latitude': 6.2697018, 'longitude': -75.60252574475943, 'country': 'Colombia'}, 'Cali': {'latitude': 3.4108435, 'longitude': -76.58121271109312, 'country': 'Colombia'}, 'Barranquilla': {'latitude': 10.9938698, 'longitude': -74.7927177, 'country': 'Colombia'}, 'Cartagena': {'latitude': 10.4266746, 'longitude': -75.5443419, 'country': 'Colombia'}, 'Santiago': {'latitude': 19.4503932, 'longitude': -70.6909047, 'country': 'Dominican Republic'}, 'Valparaíso': {'latitude': -33.0458456, 'longitude': -71.6196749, 'country': 'Chile'}, 'Concepción': {'latitude': -36.8270795, 'longitude': -73.0502399, 'country': 'Chile'}, 'La Serena': {'latitude': -29.902631, 'longitude': -71.2520253, 'country': 'Chile'}, 'Antofagasta': {'latitude': -23.6041314, 'longitude': -69.0842783, 'country': 'Chile'}, 'Lima': {'latitude': -12.0621065, 'longitude': -77.0365256, 'country': 'Peru'}, 'Arequipa': {'latitude': -16.0, 'longitude': -72.25, 'country': 'Peru'}, 'Trujillo': {'latitude': -8.1116778, 'longitude': -79.0287742, 'country': 'Peru'}, 'Chiclayo': {'latitude': -6.7716146, 'longitude': -79.8387175, 'country': 'Peru'}, 'Piura': {'latitude': -5.0, 'longitude': -80.333333, 'country': 'Peru'}, 'Caracas': {'latitude': 10.5060934, 'longitude': -66.9146008, 'country': 'Venezuela'}, 'Maracaibo': {'latitude': 10.6498095, 'longitude': -71.6443596, 'country': 'Venezuela'}, 'Valencia': {'latitude': 10.170026, 'longitude': -68.0003987, 'country': 'Venezuela'}, 'Barquisimeto': {'latitude': 10.0774374, 'longitude': -69.3222293, 'country': 'Venezuela'}, 'Maracay': {'latitude': 10.2375144, 'longitude': -67.5890216, 'country': 'Venezuela'}, 'Kingston': {'latitude': 17.9712148, 'longitude': -76.7928128, 'country': 'Jamaica'}, 'Montego Bay': {'latitude': 18.4724603, 'longitude': -77.9217357, 'country': 'Jamaica'}, 'Spanish Town': {'latitude': 17.9956926, 'longitude': -76.9540831, 'country': 'Jamaica'}, 'Portmore': {'latitude': 17.9717917, 'longitude': -76.8738048, 'country': 'Jamaica'}, 'May Pen': {'latitude': 17.974637, 'longitude': -77.2581951, 'country': 'Jamaica'}, 'Santo Domingo': {'latitude': 18.4801972, 'longitude': -69.942111, 'country': 'Dominican Republic'}, 'Santo Domingo Oeste': {'latitude': 18.4628148, 'longitude': -69.99194070255078, 'country': 'Dominican Republic'}, 'Santo Domingo Este': {'latitude': 18.4936515, 'longitude': -69.8383703, 'country': 'Dominican Republic'}, 'San Pedro de Macorís': {'latitude': 18.5116478, 'longitude': -69.4799563, 'country': 'Dominican Republic'}}
__________

,time,tavg,tmin,tmax,prcp,wspd,pres,tsun,city,country,index
0,1936-09-01,23.6,NaN,NaN,NaN,NaN,NaN,NaN,"Washington, D.C.",United States,NaN
1,1936-10-01,17.4,NaN,NaN,NaN,NaN,NaN,NaN,"Washington, D.C.",United States,NaN
2,1936-11-01,8.8,NaN,NaN,NaN,NaN,NaN,NaN,"Washington, D.C.",United States,NaN
3,1936-12-01,5.0,NaN,NaN,NaN,NaN,NaN,NaN,"Washington, D.C.",United States,NaN
4,1937-01-01,7.1,NaN,NaN,NaN,NaN,NaN,NaN,"Washington, D.C.",United States,NaN
...,...,...,...,...,...,...,...,...,...,...,...
88,2023-01-01,24.1,19.8,29.6,63.2,9.2,1017.7,NaN,San Pedro de Macorís,Dominican Republic,NaN
89,2023-02-01,24.6,19.7,30.8,9.5,11.3,1018.5,NaN,San Pedro de Macorís,Dominican Republic,NaN
90,2023-03-01,25.3,19.9,31.3,35.0,11.3,1017.0,NaN,San Pedro de Macorís,Dominican Republic,NaN
91,2023-04-01,25.7,21.0,31.0,79.2,10.3,1014.6,NaN,San Pedro de Macorís,Dominican Republic,NaN
92,2023-05-01,26.9,22.9,31.5,125.5,9.5,1014.1,NaN,San Pedro de Macorís,Dominican Republic,NaN

In [83]:
# Türkiye ile kıyaslamak adına dünya ülkelerinin önemli şehirlerinin ve başkentlerinin datasını alacağım.

others_cities = {
    "China": ["Beijing", "Shanghai", "Guangzhou"],
    "India": ["New Delhi", "Mumbai", "Bangalore"],
    "Japan": ["Tokyo", "Osaka", "Yokohama"],
    "South Korea": ["Seoul", "Busan", "Incheon"],
    "Russia": ["Moscow", "Saint Petersburg", "Novosibirsk"],
    "Indonesia": ["Jakarta", "Surabaya", "Bandung"],
    "Pakistan": ["Islamabad", "Karachi", "Lahore"],
    "Iran": ["Tehran", "Mashhad", "Isfahan"],
    "Bangladesh": ["Dhaka", "Chittagong", "Khulna"],
    "Saudi Arabia": ["Riyadh", "Jeddah", "Mecca"],
    "United Arab Emirates": ["Abu Dhabi", "Dubai", "Sharjah"],
    "Israel": ["Jerusalem", "Tel Aviv", "Haifa"],
    "Iraq": ["Baghdad", "Basra", "Erbil"],
    "Egypt": ["Cairo", "Alexandria", "Giza"],
    "Kazakhstan": ["Nur-Sultan", "Almaty", "Karaganda"],
    "Australia": ["Canberra", "Sydney", "Melbourne"],
    "New Zealand": ["Wellington", "Auckland", "Christchurch"]
}

geolocator = Nominatim(user_agent="location-finder")

city_coordinates = {}

for country, cities in others_cities.items():
    for city in cities:
        location = geolocator.geocode(city + ", " + country)
        if location:
            city_coordinates[city] = {
                "latitude": location.latitude,
                "longitude": location.longitude,
                "country": country
            }
        else:
            city_coordinates[city] = None

print(city_coordinates)

others_cities_daily = []
others_cities_monthly = []

for city, data in city_coordinates.items():
    # Extract coordinates and country
    latitude = data["latitude"]
    longitude = data["longitude"]
    country = data["country"]
    
    # Set location
    location = Point(latitude, longitude)

    # Set time period
    start = datetime(1929, 1, 1)
    end = datetime(2023, 8, 25)

    # Get daily data 
    data_daily = Daily(location, start, end)
    data_daily = data_daily.fetch()
    data_daily["city"] = city
    data_daily["country"] = country
    data_daily.reset_index(inplace=True)

    # Get monthly data 
    data_monthly = Monthly(location, start, end)
    data_monthly = data_monthly.fetch()
    data_monthly["city"] = city
    data_monthly["country"] = country
    data_monthly.reset_index(inplace=True)
    
    others_cities_daily.append(data_daily)
    others_cities_monthly.append(data_monthly)

# Concatenate all dataframes into a single dataframe
others_cities_daily = pd.concat(others_cities_daily, ignore_index=False)
others_cities_monthly = pd.concat(others_cities_monthly, ignore_index=False)

print("__________")
others_cities_monthly

{'Beijing': {'latitude': 39.9057136, 'longitude': 116.3912972, 'country': 'China'}, 'Shanghai': {'latitude': 31.2312707, 'longitude': 121.4700152, 'country': 'China'}, 'Guangzhou': {'latitude': 23.1301964, 'longitude': 113.2592945, 'country': 'China'}, 'New Delhi': {'latitude': 28.6138954, 'longitude': 77.2090057, 'country': 'India'}, 'Mumbai': {'latitude': 18.9733536, 'longitude': 72.82810491917377, 'country': 'India'}, 'Bangalore': {'latitude': 12.9767936, 'longitude': 77.590082, 'country': 'India'}, 'Tokyo': {'latitude': 35.6840574, 'longitude': 139.7744912, 'country': 'Japan'}, 'Osaka': {'latitude': 34.6198813, 'longitude': 135.490357, 'country': 'Japan'}, 'Yokohama': {'latitude': 35.4443947, 'longitude': 139.6367727, 'country': 'Japan'}, 'Seoul': {'latitude': 37.5666791, 'longitude': 126.9782914, 'country': 'South Korea'}, 'Busan': {'latitude': 35.1799528, 'longitude': 129.0752365, 'country': 'South Korea'}, 'Incheon': {'latitude': 37.456, 'longitude': 126.7052, 'country': 'South Korea'}, 'Moscow': {'latitude': 55.625578, 'longitude': 37.6063916, 'country': 'Russia'}, 'Saint Petersburg': {'latitude': 59.9606739, 'longitude': 30.1586551, 'country': 'Russia'}, 'Novosibirsk': {'latitude': 55.0288307, 'longitude': 82.9226887, 'country': 'Russia'}, 'Jakarta': {'latitude': -6.175247, 'longitude': 106.8270488, 'country': 'Indonesia'}, 'Surabaya': {'latitude': -7.2459717, 'longitude': 112.7378266, 'country': 'Indonesia'}, 'Bandung': {'latitude': -6.9215529, 'longitude': 107.6110212, 'country': 'Indonesia'}, 'Islamabad': {'latitude': 33.6938118, 'longitude': 73.0651511, 'country': 'Pakistan'}, 'Karachi': {'latitude': 24.8546842, 'longitude': 67.0207055, 'country': 'Pakistan'}, 'Lahore': {'latitude': 31.5656822, 'longitude': 74.3141829, 'country': 'Pakistan'}, 'Tehran': {'latitude': 35.6892523, 'longitude': 51.3896004, 'country': 'Iran'}, 'Mashhad': {'latitude': 36.2974945, 'longitude': 59.6059232, 'country': 'Iran'}, 'Isfahan': {'latitude': 32.6707877, 'longitude': 51.6650002, 'country': 'Iran'}, 'Dhaka': {'latitude': 23.7644025, 'longitude': 90.389015, 'country': 'Bangladesh'}, 'Chittagong': {'latitude': 22.333778, 'longitude': 91.8344348, 'country': 'Bangladesh'}, 'Khulna': {'latitude': 22.9372087, 'longitude': 89.2852741, 'country': 'Bangladesh'}, 'Riyadh': {'latitude': 24.638916, 'longitude': 46.7160104, 'country': 'Saudi Arabia'}, 'Jeddah': {'latitude': 21.5810088, 'longitude': 39.1653612, 'country': 'Saudi Arabia'}, 'Mecca': {'latitude': 21.420847, 'longitude': 39.826869, 'country': 'Saudi Arabia'}, 'Abu Dhabi': {'latitude': 24.4538352, 'longitude': 54.3774014, 'country': 'United Arab Emirates'}, 'Dubai': {'latitude': 25.2653471, 'longitude': 55.2924914, 'country': 'United Arab Emirates'}, 'Sharjah': {'latitude': 25.3461498, 'longitude': 55.4210633, 'country': 'United Arab Emirates'}, 'Jerusalem': {'latitude': 31.79592425, 'longitude': 35.21198075969497, 'country': 'Israel'}, 'Tel Aviv': {'latitude': 32.0852997, 'longitude': 34.7818064, 'country': 'Israel'}, 'Haifa': {'latitude': 32.799313, 'longitude': 34.989571715728204, 'country': 'Israel'}, 'Baghdad': {'latitude': 33.3061701, 'longitude': 44.3872213, 'country': 'Iraq'}, 'Basra': {'latitude': 30.4952371, 'longitude': 47.8090981, 'country': 'Iraq'}, 'Erbil': {'latitude': 36.1911653, 'longitude': 44.0094294, 'country': 'Iraq'}, 'Cairo': {'latitude': 30.0443879, 'longitude': 31.2357257, 'country': 'Egypt'}, 'Alexandria': {'latitude': 31.1991806, 'longitude': 29.8951716, 'country': 'Egypt'}, 'Giza': {'latitude': 29.9870753, 'longitude': 31.2118063, 'country': 'Egypt'}, 'Nur-Sultan': {'latitude': 51.115320749999995, 'longitude': 71.46636599643543, 'country': 'Kazakhstan'}, 'Almaty': {'latitude': 43.2363924, 'longitude': 76.9457275, 'country': 'Kazakhstan'}, 'Karaganda': {'latitude': 49.1767322, 'longitude': 74.1811272, 'country': 'Kazakhstan'}, 'Canberra': {'latitude': -35.2975906, 'longitude': 149.1012676, 'country': 'Australia'}, 'Sydney': {'latitude': -33.8698439, 'longitude': 151.2082848, 'country': 'Australia'}, 'Melbourne': {'latitude': -37.8142454, 'longitude': 144.9631732, 'country': 'Australia'}, 'Wellington': {'latitude': -41.2887953, 'longitude': 174.7772114, 'country': 'New Zealand'}, 'Auckland': {'latitude': -36.852095, 'longitude': 174.7631803, 'country': 'New Zealand'}, 'Christchurch': {'latitude': -43.530955, 'longitude': 172.6364343, 'country': 'New Zealand'}}
__________

,time,tavg,tmin,tmax,prcp,wspd,pres,tsun,city,country,index
0,1945-11-01,6.9,NaN,NaN,NaN,NaN,NaN,NaN,Beijing,China,NaN
1,1945-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beijing,China,NaN
2,1946-01-01,-3.3,NaN,NaN,NaN,NaN,NaN,NaN,Beijing,China,NaN
3,1946-02-01,-0.3,-6.7,6.0,NaN,10.8,1027.0,NaN,Beijing,China,NaN
4,1946-03-01,3.0,-1.3,7.5,NaN,11.6,1024.8,NaN,Beijing,China,NaN
...,...,...,...,...,...,...,...,...,...,...,...
875,2023-03-01,14.8,9.7,19.9,86.2,15.7,1011.4,NaN,Christchurch,New Zealand,NaN
876,2023-04-01,12.9,8.7,17.3,74.5,14.0,1014.8,NaN,Christchurch,New Zealand,NaN
877,2023-05-01,11.1,6.5,15.7,73.1,11.6,1011.0,NaN,Christchurch,New Zealand,NaN
878,2023-06-01,8.6,4.5,12.4,38.1,12.6,1013.1,NaN,Christchurch,New Zealand,NaN
879,2023-07-01,6.5,1.4,11.8,98.5,10.9,1007.0,NaN,Christchurch,New Zealand,NaN

In [92]:
türkiye_daily.to_csv("türkiye/türkiye_daily.csv")
türkiye_monthly.to_csv("türkiye/türkiye_monthly.csv")
european_cities_daily.to_csv("avrupa/european_cities_daily.csv")
european_cities_monthly.to_csv("avrupa/european_cities_monthly.csv")
american_cities_daily.to_csv("amerika/american_cities_daily.csv")
american_cities_monthly.to_csv("amerika/american_cities_monthly.csv")
others_cities_daily.to_csv("diğer/others_cities_daily.csv")
others_cities_monthly.to_csv("diğer/others_cities_monthly.csv")